.btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.btn-action {
    margin: 1em 0 1em 1em;
    height: 3em;
    width: 8em;
    background: #ff1d8e;
    border: none;
    font-weight: light;
    color: #fff;
    position: relative;
    overflow: hidden;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn-action:hover {
    background: rgba(255, 29, 142, 0.8);
    transition: all 0.1s ease-in;
}

.btn-round {
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
}

.button:after {
    content: "";
    background: #ffffffda;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -30% !important;
    margin-top: -120%;
    opacity: 0;
    transition: all .7s;
    border-radius: 100px;
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}