.pagination {
    position: relative;
    text-align: center;
    padding: 20px 0;
    font-size: 0;
    z-index: 1;
    margin: 50px 0;
}

.pag-btn {
    font-size: 14px;
    text-decoration: none;
    transition: background 250ms;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 3px 6px;
    height: 38px;
    min-width: 38px;
    border-radius: 38px;
    border: 2px solid #fff;
    line-height: 38px;
    padding: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: .03em;
    /* display: none; */
}

.pag-btn:first-child,
.pag-btn:last-child {
    /* padding: 0 16px; */
    /* margin: 0 12px 6px; */
}

.pag-btn:last-child,
.pag-btn:nth-child(0),
.pag-btn:nth-last-child(2) {
    display: inline-block;
}

.pag-btn:hover {
    background: #ffffff;
    color: #000000;
    transition: all 0.1s ease-in;
}

.active {
    background-color: #ffffff;
    color: #000000;
}